.l-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.listado{
    border: 1px solid white;
    height: 300px;
    width: 400px;
    margin: 0.6rem;
    display: grid;
    padding: 0.2rem 0;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    overflow-y: scroll;
    row-gap: 0.2rem;
}