.registro{
    width: 370px;
    height: 40px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid ghostwhite;
    margin: 0 0.1rem;
    padding: 0.1rem;
}